html, body {
    width       : 100%;
    height      : 100%;
    margin      : 0;
    padding     : 0;
    overflow    : hidden;
}

#wrapper {
    height      : 100%;
    width       : 100%;
    position    : absolute;
    display     : block;
}

#simulation {
    position    : absolute;
    top         : 0;
    bottom      : 120px;
    width       : 100%;
}

#footer {
    padding-left: 20px;
    background: #222222;
    height: 120px;
    width: 100%;
    position: absolute;
    bottom: 0;

    background : linear-gradient(to right,  hsl(0,0%,13%) 0%,hsl(0,0%,24%) 100%);
    box-shadow: 0px -10px 69px -13px rgba(0,0,0,0.75);

    border-left: 7px solid #b81f4e;
    background: linear-gradient(to bottom,  hsl(0,0%,24%) 0%,hsl(0,0%,16%) 100%);
}

#footer h1 {
    padding-top: 5px;
    color: white;
    font-size: 19pt;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
}

#footer h1 span {
    color: #fcd410;
}

#footer p {
    font-family: 'Lucida Sans Unicode', sans-serif;
    color: #c4c2c2;
    font-size: 11pt;
    margin: 0;
    padding: 0;
}

#footer p a {
    color: #59c6f8;
    text-decoration: none;
}

.link {
    position: absolute;
    top: 42%;
    font-size: 42pt;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.link:hover {
    color: #b81f4e;
}

.link-left {
    left: 25px;
}

.link-right {
    right: 25px;
}